<?php

$_SERVER_ = array(
    "mainnet" => "http://rpc_mainnet:6332",
    "testnet" => "http://rpc_testnet:16332"
);

$_AUTH_ = array(
    "mainnet" => "rpcmainnet:rpcmainnetpass",
    "testnet" => "rpctestnet:rpctestnetpass"
);

$_TIME_OUT_ = array(
    "mainnet" => 3600,
    "testnet" => 3600
);

$_REWARD_ = array(
    "mainnet" => 0.00001000,
    "testnet" => 0.00001000
);

?>
